*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --primary: #5F939A;
  --secondary: #F2EDD7;
  --third: #3A6351;
  --fourth: #A0937D;

}

body{
  font-family: 'Concert One', cursive;
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 20px;
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* ALERTS */

.alerts {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  font-weight: normal;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


/* HEADER CLASSES */

.header{
  background-color: var(--secondary);
  border: 3px solid var(--secondary);
  color:var(--third);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.head{
  margin: 10px;
  color: red;
}


/* GAME LOGIN */

.game-login{
  background:white;
  max-width:400px;
  margin: 100px auto;
  box-shadow:0 4px 10px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.create-option{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.join-option{
  display: none;
  justify-content: space-around;
  align-items: center;
}

.inactive{
  width: 100%;
  text-align: center;
  color: var(--third);
  padding: 10px;
  margin: 5px;
}

.start-game-button,
.join-button{
  border: none;
  border-radius: 5px;
  background-color: var(--third);
  color: var(--secondary);
  width: 95%;
  margin: 10px;
  padding: 10px;
}
.start-game-button:hover,
.join-button:hover{
  background-color: var(--primary);
}

.create-game{
  overflow: auto;
  text-align: center;
}

.create-game>button{
  width:95%;
}

.join-game{
  display: none;
  overflow: auto;
  text-align: center;
}

.join-game>button{
  width:95%;
}

.game-input{
  padding: 2px 10px;
  margin: 10px;
  outline: none;
  width: 95%;
  border: none;
  border-bottom: 2px solid green;
}
.game-input:hover, .game-input:focus{
  width: 95%;
  border: none;
  border-bottom: 2px solid black;
}

.popup-game-id{
  text-align: center;
  color: var(--third)
}

/* DASHBOARD */

.game-container {
  display: none;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.container-2p-1{
  grid-template-areas:
    ". player2-area ."
    ". mid ."
    ". player1-area .";
}
.container-2p-2{
  grid-template-areas:
    ". player1-area ."
    ". mid ."
    ". player2-area .";
}

.player1-area {
  grid-area: player1-area;
  text-align: center;
  margin: 10px;
  padding: 5px;
  border: 3px solid var(--secondary);
  border-radius: 10px;
}

.player2-area {
  grid-area: player2-area;
  text-align: center;
  margin: 10px;
  padding: 5px;
  border: 3px solid var(--secondary);
  border-radius: 10px;
}

.turn{
  background-color: var(--secondary);
  color: black;
  animation-name: turnborder;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes turnborder {
  0% {border: 3px solid black;}
  50% {border: 3px solid var(--secondary);}
  100% {border: 3px solid black;}
}

.mid{
  grid-area: mid;
  margin: 20px auto;
  font-size: 50px;
  display: grid;
  text-align: center;
  grid-template-columns: auto;
  grid-template-rows: auto;
    grid-template-areas:
      "c1 c2 c3"
      "c4 c5 c6"
      "c7 c8 c9"
}

.cell-1{
  grid-area: c1;
  border-bottom: 3px solid var(--secondary);
  border-right: 3px solid var(--secondary);
  padding: 20px;
  height: 120px;
  width: 100px;
}
.cell-2{
  grid-area: c2;
  border-bottom: 3px solid var(--secondary);
  border-right: 3px solid var(--secondary);
  padding: 20px;
  height: 120px;
  width: 100px;
}
.cell-3{
  grid-area: c3;
  border-bottom: 3px solid var(--secondary);
  padding: 20px;
  height: 120px;
  width: 100px;
}
.cell-4{
  grid-area: c4;
  border-bottom: 3px solid var(--secondary);
  border-right: 3px solid var(--secondary);
  padding: 20px;
  height: 120px;
  width: 100px;
}
.cell-5{
  grid-area: c5;
  border-bottom: 3px solid var(--secondary);
  border-right: 3px solid var(--secondary);
  padding: 20px;
  height: 120px;
  width: 100px;
}
.cell-6{
  grid-area: c6;
  border-bottom: 3px solid var(--secondary);
  padding: 20px;
  height: 120px;
  width: 100px;
}
.cell-7{
  grid-area: c7;
  border-right: 3px solid var(--secondary);
  padding: 20px;
  height: 120px;
  width: 100px;

}
.cell-8{
  grid-area: c8;
  border-right: 3px solid var(--secondary);
  padding: 20px;
  height: 120px;
  width: 100px;
}
.cell-9{
  grid-area: c9;
  padding: 20px;
  height: 120px;
  width: 100px;
}



/* CHAT SECTION */

.messages {
  display: none;
  position: fixed;
  background-color: var(--secondary);
  color: var(--primary);
  padding: 10px;
  border-radius: 10px;
  bottom: 20px;
  right: 15px;
  max-height: 400px;
  z-index: 9;
}

.list-ul{
  list-style-type: none;
  -webkit-padding-start: 0;
}
.list-li {
  flex: 0 0 auto;
  font-family: monospace;
  background-color: var(--primary);
  color: var(--secondary);
  margin: 3px;
  padding: 5px;
  border: none;
  border-radius: 10px;
}

.input-message{
  width: 75%;
  background-color: white;
  padding: 10px;
  border: 1px solid var(--third);
  resize: none;
  border-radius: 5px;
  overflow: hidden;
}

.input-message:focus{

}

.send-message{
  padding: 10px;
  border: none;
  background-color: var(--third);
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.send-message:hover{
  background-color: var(--fourth);
}

.open-chat{
  background-color: var(--secondary);
  border: none;
  font-weight: bold;
  color: var(--third);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 300px;
}
.open-chat:hover{
  background-color: var(--third);
  color: var(--secondary);
}

.close-chat{
  background-color: red;
  border: none;
  color: var(--secondary);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  width: 300px;
  margin-top: 10px;
}
.close-chat:hover{
  background-color: var(--third);
}

/* FOOTER */

.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0px;
  background-color: var(--secondary);
  width: 100%;
  padding: 15px;
  color: black;
}

.devs{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dev-link{
  background-color: var(--primary);
  color: var(--secondary);
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: color 0.5s, background-color 0.5s;
  position: relative;
}

.dev-link:hover{
  background-color: green;
  color: red;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}

.dev-link .tips{
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.dev-link:hover .tips{
  visibility: visible;
  opacity: 1;
}

.hide{
  display: none;
}
